setuptools
pyyaml
pycodestyle
netCDF4
matplotlib
cartopy
scipy
xarray
pandas
numpy

# Additional packages
git+https://github.com/NOAA-EMC/emcpy.git@7794574611e760475d61eb5d9458af2d3d2191d8#egg=emcpy
scikit-learn
seaborn
hvplot
nbconvert
bokeh
geopandas
geoviews
