setuptools
pyyaml
pycodestyle
netCDF4
matplotlib
cartopy
scipy
xarray
pandas
numpy

# Additional packages
git+https://github.com/NOAA-EMC/emcpy.git@f7b863d9508b921a78d7ff0e53de0b95e9a176f7#egg=emcpy
scikit-learn
seaborn
hvplot
nbconvert
bokeh
geopandas
geoviews
