pyyaml>=6.0
pycodestyle>=2.9.1
netCDF4>=1.6.1
matplotlib==3.9.0
cartopy>=0.21.1
scikit-learn>=1.1.2
xarray>=2022.6.0
seaborn>=0.12.2
hvplot>=0.8.2
nbconvert>=6.5.4
bokeh<3.5.0,>=3.4.0
geopandas>=0.13.2
geoviews>=1.10.0
nbsite
git+https://github.com/NOAA-EMC/emcpy.git@9b6756341e9ae963baa7d3a256b8ada3da688d04#egg=emcpy
